<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menus</key>
	<array>
		<dict>
			<key>name</key>
			<string>UI</string>
			<key>menus</key>
			<array>
				<dict>
					<key>name</key>
					<string>LTFlexContainer</string>
					<key>class</key>
					<string>FlexContainerVC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LTFlexContainer Fixed</string>
					<key>class</key>
					<string>FlexContainer2VC</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Flex Xib</string>
					<key>class</key>
					<string>FlexXibVC</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
